In [44]:
# Import library
import tensorflow as tf
import numpy as np
import pandas as pd

# Import classes
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Input, Conv2D, MaxPool2D, Flatten, Dense, Dropout, BatchNormalization
print('tf : ' + tf.__version__)
print('np : ' + np.__version__)
print('pd : ' + pd.__version__)

tf : 2.7.0
np : 1.20.3
pd : 1.3.4

In [28]:
# Reading CSV file as a dataframe with pandas
data = pd.read_csv('./data/communication_file_time_data0.csv')

In [29]:
data.describe()

              Value
count  15830.000000
mean      11.366330
std        7.157341
min        0.000000
25%        5.000000
50%       11.000000
75%       17.000000
max       40.000000

In [30]:
data.head()

       Time  Value
0  16:26:20     14
1  16:26:20     16
2  16:26:20     17
3  16:26:20     17
4  16:26:20     18

In [31]:
# Convrt data frame fo numpy array
data=data.to_numpy()

In [32]:
# Print shape of numpy array
data.shape

(15830, 2)

In [33]:
# Get training and test dataset from numpy
training = data[0:15000]
testing = data[15000:]

In [34]:
# Print training and testing dataset shape
print(training.shape)
print(testing.shape)

(15000, 2)
(830, 2)

In [35]:
# Seperate true labels from training and testing datasets
training_features = training[:,0:-1]
training_labels = training[:,-1]

testing_features = testing[:, 0:-1]
testing_labels = testing[:,-1]

In [36]:
# Prin shape of input that training_features and true labels that is training_labels
print(training_features.shape)
print(training_labels.shape)

(15000, 1)
(15000,)

In [37]:
# Checking input shape to NN
training_features[0].shape

(1,)

In [45]:
# Model definition
model = Sequential([
    Input((128, 128, 3)),
    Conv2D(filters = 64, kernel_size = (5, 5), padding = "same", activation = "relu"),
    Conv2D(filters = 64, kernel_size = (5, 5), padding = "same", activation = "relu"),
    MaxPool2D(),
    BatchNormalization(),
    Conv2D(filters = 32, kernel_size = (3, 3), padding = "same", activation = "relu"),
    Conv2D(filters = 32, kernel_size = (3, 3), padding = "same", activation = "relu"),
    MaxPool2D(),
    BatchNormalization(),
    Conv2D(filters = 16, kernel_size = (3, 3), padding = "same", activation = "relu"),
    Conv2D(filters = 16, kernel_size = (3, 3), padding = "same", activation = "relu"),
    MaxPool2D(),
    Flatten(),
    Dense(64, activation = "relu"),
    Dropout(0.2),
    Dense(32, activation = "relu"),
    Dropout(0.1),
    Dense(1, activation = "sigmoid")
])

In [46]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d (Conv2D)             (None, 128, 128, 64)      4864

 conv2d_1 (Conv2D)           (None, 128, 128, 64)      102464

 max_pooling2d (MaxPooling2D  (None, 64, 64, 64)       0
 )

 batch_normalization (BatchN  (None, 64, 64, 64)       256
 ormalization)

 conv2d_2 (Conv2D)           (None, 64, 64, 32)        18464

 conv2d_3 (Conv2D)           (None, 64, 64, 32)        9248

 max_pooling2d_1 (MaxPooling  (None, 32, 32, 32)       0
 2D)

 batch_normalization_1 (Batc  (None, 32, 32, 32)       128
 hNormalization)

 conv2d_4 (Conv2D)           (None, 32, 32, 16)        4624

 conv2d_5 (Conv2D)           (None, 32, 32, 16)        2320

 max_pooling2d_2 (MaxPooling  (None, 16, 16, 16)       0
 2D)

 flatten (Flatten)           (None, 4096)              0

 dense_3 (Dense)             (None, 64)                262208

 dropout_2 (Dropout)         (None, 64)                0

 dense_4 (Dense)             (None, 32)                2080

 dropout_3 (Dropout)         (None, 32)                0

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 406,689
Trainable params: 406,497
Non-trainable params: 192
_________________________________________________________________

In [47]:
model.compile(loss = "binary_crossentropy", optimizer = "adam", metrics = ["accuracy"])

In [50]:
model.fit(training_features, training_labels, steps_per_epoch = 500, epochs = 4, validation_data=(testing_features, testing_labels))

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type int).